:root {
    --main-color: #2A2626;
    --secondary-color: #F0E5E5;
    --accent-color: #DF2222;
    --secondary-accent-color: #E3CF18;
    --normal-padding: 3em;
}
::-moz-selection { background-color: var(--accent-color); }
body::selection { background-color: var(--accent-color); }
html, body, ul, li, a, h1, h2, h3, h4, h5, p { margin: 0; padding: 0; }
html { scroll-behavior: smooth; }
body { 
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23ff0000' stroke-width='2' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");

/*
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23ff0000' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%231f0000'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
*/
background-attachment: fixed;
/* background by SVGBackgrounds.com */
color: var(--main-color); }
h1, h2, h3, h4, h5, h6, p, li, label { font-family: 'Roboto', sans-serif; }
h1 { font-weight: 900; font-size: 4em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
li { font-weight: 900; }
p { font-family: 'Roboto', sans-serif; font-weight: 300; }
a { text-decoration: none; }
a:hover { color: gray; }
button:focus { outline: none; opacity: .5;}
header {
    height: 100vh;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    transition: .5s ease;
    z-index: 10000;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
}
.hamburger-items { width: 100%; display: flex; justify-content: space-around; align-items: center; height: 100%; transition: .5s ease; }
.dark {
    background: var(--main-color);
    box-shadow: 0em .5em 1em var(--main-color);
    color: white;
} 
.dark-items { color: white; }
.dark li a {
    color: white;
}
.dark li a:hover {color: rgb(255, 255, 255, .5);}
nav li { display: inline-block; }
nav div li { margin-right: .5em; }
a {
    /*transition: color .5s ease;*/
    color: var(--main-color);
}
nav-n-current a:hover { color: rgb(0, 0, 0, .5); }
#header-information { text-align: center;  transition: .5s ease; }
header label, header #hamburger { display: none; }
#logo { user-select: none; -moz-user-select: none; -ms-user-select: none;  font-size: 1.5em;}
#logo:hover { cursor: default; }
header img {
    position: absolute;
    left: -60;
}
#header-left-background {
    position: fixed;
    border-top: .2em solid black;
    transform: rotate(90deg); 
    position: absolute;
    top: 25vh;
    left: 10vh;
    z-index: -2;
    opacity: .2;
    font-size: 5em;
    user-select: none;
    position: fixed;
}
#header-right-background {
    border-bottom: 1px solid black;
    bottom: 10vh;
    right: 10vh;
    position: absolute;
    z-index: -2;
    opacity: .2;
    font-size: 5em;
    user-select: none;
    position: fixed;
}

.nav-current { border-bottom: .3em solid var(--accent-color); }
.nav-n-current:hover { border-bottom: .3em solid rgb(255, 0, 0, .3); }

/*Down arrow animation*/
.down-arrow {
    width: 0;
    height: 0;
    /*Triangle shape*/
    border-top: 1em solid black;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    position: absolute;
    bottom: 40;
    animation-name: down-arrow;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    /*Gives affect of bouncing, without this animation will look harsh*/
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes down-arrow {
    from { bottom: 40; }
    100% { border-top: 1em solid var(--accent-color); }
    to { bottom: 20; }
}

#im-a {
    padding: var(--normal-padding) 0 6em 0;
    background: white;
    width: 100%;
    text-align: center;
    /*background: linear-gradient(to right, #251F1F, #4E4040);*/
    color: black;
}
#im-a h2 {
    font-size: 2.5em;
}
.content {
    width: 75%;
    margin: 3em auto;
    position: relative;
}
.and-ima {
    position: absolute;
    opacity: .5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.a-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.a-item:nth-child(3) {
    margin-top: 5em;
}
.a-item .item-content {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.a-item p {
    word-break: break-all;
}
.border-bottom {
    height: .3em;
    width: 45%;
    background: red;
}

/*Project section*/
#projects-container {
    padding: 4em 0 3em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-color: #ffffff;
    background-attachment: fixed;
    margin-bottom: 2em;
}
#projects {
    position: relative;
    margin-left: 5em;
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-item {
    z-index: 100;
    position: relative;
    background: var(--main-color);
    color: white;
    height: 80%;
    width: 30%;
    transition: .5s ease;
    padding: 0 1em;
    user-select: none; -moz-user-select: none; -ms-user-select: none; 
}
.project-item:nth-child(even) {
    margin: 0 .5em;
}
.project-item:hover {
    transform: scale(1.2);
}
.project-face {
    /*z-index is needed, inactive class is called when project is hovered, and gives other items not hovered a z-index of -1*/
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
}
.project-back {
    text-align: center;
    transition: .3s ease;
    position: relative;
    height: 100%;
    position: relative;
}
.project-back section {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.project-back p {
    font-size: .8em;
    font-family: 'Arial', sans-serif;
    font-weight: normal; 
}
.project-back img {
    shape-outside: circle(50%);
    padding-right: .8em;
    float: left;
}
.project-languages {
    text-align: center;
}
.project-languages button { color: white; }
.project-languages p { display: inline-block; }
.inactive {
    z-index: 0;
    background: black;
}
.inactive button {
    z-index: -2;
    opacity: .5;
}
.inactive h3 {
    opacity: .5;
}
.project-item:hover {
    cursor: pointer;
    box-shadow: 0em 0em 2em black;
}

/*Skills section*/
#skills-container {
    box-shadow: 0 -.5em .8em grey;
    position: relative;
    background: var(--secondary-accent-color);
    padding-bottom: var(--normal-padding);
    padding: 6em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
#skills-container h2 {
    color: white;
    font-size: 2.5em;
}
#skills-container ul {
    margin-left: 1.5em;
    list-style: square inside;
}
#skills-container li {
    font-weight: 200;
}
#skills-bullet-container {
    margin-top: var(--normal-padding);
    width: 75%;
    display: flex;
    justify-content: space-around;
}

#skills-progress {
    margin: 2em 0;
    width: 75%;
    display: flex;
    flex-wrap : wrap;
    justify-content: space-around;
}
/*Container behind the red in the progress*/
.progress-container {
    margin: 1em 0;
    background: var(--main-color);
    height: 1em;
    width: 40%;
    position: relative;
}
.progress-percent {
    height: 100%;
    /*Percent put here*/
    width: 80%;
    background: linear-gradient(to left, red, darkred);
}
.progress-percentage {
    position: absolute;
    right: -35;
    top: 50%;
    transform: translateY(-50%);
}
.progress-title {
    position: absolute;
    top: -18;
    left: 10;
    color: white;
    -webkit-text-stroke: 1px var(--main-color);
}

.transition-arrow {
    width: 0;
    height: 0;
    border-left: 20vw solid transparent;
    border-right: 20vw solid transparent;
    border-top: 100px solid var(--secondary-accent-color);
    position: absolute;
    bottom: -60;
}
/*Contact section*/
#contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*background: linear-gradient(var(--accent-color), darkred);*/
    background: linear-gradient(red, darkred);
    color: white;
    padding: 5em 0;
    text-align: center;
    width: 100%;
}
.contact-item { display: flex; align-items: center; justify-content: center; margin: 1em 0; }
.contact-item img { margin-right: .5em; }
.icons { filter: invert(100%); }
#contact-information {
    margin-right: 3em;
}
#contact-container form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}
input {
    width: 100%;
}
textarea { width: 100%; }
.contact-input {
    margin: .25em 0;
    position: relative;
    padding: .7em 0;
}
.input-label {
    position: absolute;
    top: 5;
    left: 15;
    background: white;
    color: black;
    padding: 0 .5em;
    z-index: 100;
    margin-right: 1em;
    /*Cool effect*/
    transition: .3s ease;
}
.textarea-label { top: -1; left: 15; }

form input,textarea  {
    background: none;
    border: 1px solid white;
    color: white;
    padding: .5em;
    padding-left: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    /*TODO: fix size ont he form, looks too small (tried increasing but increase the whole box, perhaps box-sizing: border-box will do the trick)*/
}
form input:nth-child(2) {
    margin: .5em 0;
}
form input,textarea:focus {
    outline: none;
}
form button { width: 15%; margin: 0 auto; margin-top: .5em; background: white; }
::placeholder {
    font-size: 1.2em;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

#contact-side-information {
    height: 100%;
    width: 50%;
    color: black;
    margin-bottom: 2em;
}
.contact-side-item {
    display: flex;
    align-items: center;
}
.contact-side-item img {
    margin-right: .5em;
}
.contact-side-item:nth-child(2) {
    margin: 1em 0 ; 
}

/*Other*/
.temp-rectangle { width: 30%; height: 200px; background: gray; box-shadow: 0em 1em 1em black; transition: .5s ease; }
.right {
    align-items: flex-end;
    text-align: right;
}
.left { align-items: flex-start; text-align: left; }
.first {
    font-size: 2.5em;
    padding-right: .3em;
    float: left;
}
.hidden { display: none; }
.hidden-opacity { opacity: 0; }

/*Buttons*/
.button {
    border-radius: 1em;
    border: none;
    padding: .3em 1em;
    transition: transform .5s ease;
}
.button:hover { cursor: pointer; transform: translateY(-3px); opacity: .7; border-bottom: none; }
/*Hate to do this, but no other way*/
li.button a { color: white; }
.red-button {
    background: var(--accent-color);
    color: white;
}

/*Footer section*/
footer {
    font-size: .8em;
    background: var(--main-color);
    width: 100%;
    padding: 3em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
footer ul { list-style: none; }
footer ul a { color: white; }
#footer-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 100%;
    width: 15%;
}
#footer-navigation ul { border-left: 1px solid white; margin: .5em; padding-left: .25em; }
.social-icon { height: 30px; width: 30px; border-radius: 50%; background: gray; margin: 0; padding: 0; }
#footer-social-icons {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 10%;
    margin: 0; padding: 0;
}
footer img { transition: .343s ease; }
footer a:focus { outline: none; }
footer img:hover {
    filter: invert(50%);
    transform: translateY(-3px);
}


/*Numbers you see on the corners of Skills and Project item
*/
.project-number {
    position: absolute;
    top: -20;
    right: -15;
    background: var(--secondary-accent-color);
    color: var(--main-color);
    border: 1px solid white;
    border-radius: 50%;
    padding: .5em;
}
.skills-number {
    position: absolute;
    z-index: 0;
    color: var(--main-color);
    opacity: .3;
    top: -40;
    left: -30;
    font-size: 3em;
}
.skills-bullet { position: relative; }

/*Media queries*/
@media screen and (max-width: 500px) {
    .temp-rectangle { margin: 2em 0; }
    nav { height: auto; }
    /*Hamburger*/
    header label { display: inline-block; position: fixed; top: 0; font-size: 2em; padding-left: 1em; }
    .hamburger-items {
        padding-top: 2em;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .hamburger-items > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav li, nav div li { width: 100%; text-align: center; }
    nav { background: var(--main-color); color: white; padding: 1em 0; }
    nav label { width: 100%; background: var(--main-color); }
    /*In case something is changed here, hides overflow (scrollbar horizontally)*/
    html,body { overflow-x: hidden; }
    .content { width: 100%; }
    .a-item {
        flex-direction: column;
    }
    .a-item .item-content {
        width: 90%;
        align-items: center;
        text-align: center;
    }
    .a-item:nth-child(even) { 
        flex-direction: column-reverse;
    }
    #skills-bullet-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .skills-bullet { margin: 2em; }
    .even-skills {
        right: -30;
        left: auto;
    }
    .left-skills { left: -20; right: auto; }
    #skills-progress { flex-direction: column; width: 90%; align-items: center; }
    .progress-container { width: 75%; }
    #skills-container { padding: 3em 0; }
    .transition-arrow {
        bottom: -60;
        border-left: 100vw solid transparent;
        border-right: 100vw solid transparent;
    }
    #projects-container {
        text-align: center;
        flex-direction: column;
        height: auto; 
        padding-top: 10em;
    }
    #projects {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
    .project-item {
        height: 30vh;
        margin: 2em 0;
        padding-top: 2em; padding-bottom: 2em;
        width: 80%;
    }
    #contact-container {
        flex-direction: column;
    }
    #contact-information { margin: 0; padding; 0; }
    #contact-container form {
        width: 90%;
    }
    #contact-container form button { width: 20%; }
}


.contact-valid { background: green; color: white; }
.contact-invalid { background: red; color: white; box-shadow: 0em 0em .5em white; }


.hover-over-me {
    position: absolute;
    top: -45;
    left: -65;
}
.hover-over-me-phone { top: -100; left: 0; transform: rotate(20deg); }
