/*Media queries*/
@media screen and (max-width: 500px) {
    .temp-rectangle { margin: 2em 0; }
    nav { height: auto; }
    /*Hamburger*/
    header label { display: inline-block; position: fixed; top: 0; font-size: 2em; padding-left: 1em; }
    .hamburger-items {
        padding-top: 2em;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .hamburger-items > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav li, nav div li { width: 100%; text-align: center; }
    nav { background: var(--main-color); color: white; padding: 1em 0; }
    nav label { width: 100%; background: var(--main-color); }
    /*In case something is changed here, hides overflow (scrollbar horizontally)*/
    html,body { overflow-x: hidden; }
    .content { width: 100%; }
    .a-item {
        flex-direction: column;
    }
    .a-item .item-content {
        width: 90%;
        align-items: center;
        text-align: center;
    }
    .a-item:nth-child(even) { 
        flex-direction: column-reverse;
    }
    #skills-bullet-container {
        margin-bottom: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .skills-bullet { margin: 2em; }
    .even-skills {
        right: -30;
        left: auto;
    }
    .left-skills { left: -20; right: auto; }
    .progress-container {  width: 75%; }
    #skills-container { padding: 3em 0; }
    .transition-arrow {
        bottom: -60;
        border-left: 100vw solid transparent;
        border-right: 100vw solid transparent;
    }
    #projects-container {
        text-align: center;
        flex-direction: column;
        height: auto; 
        padding-top: 10em;
    }
    #projects {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
    .project-item {
        height: 30vh;
        margin: 2em 0;
        padding-top: 2em; padding-bottom: 2em;
        width: 80%;
    }
    #contact-container {
        flex-direction: column;
    }
    #contact-information { margin: 0; padding: 0; }
    #contact-container form {
        width: 90%;
    }
    #contact-container form button { width: 20%; }
    #project-header { margin-bottom: 2em; }
}


