.project-item {
    position: relative;
    height: 250px;
    width: 250px;
    text-align: center;
}
.project-item > section {
    text-align: center;
    position: absolute;
    z-index: 100;
    background: linear-gradient(red, darkred);
}
.project-item img {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 70%;
}
.project-language {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
    background: blue;
    color: white;
    margin: .25em .5em;
    flex-grow: 1;
}
.project-language:hover {
    cursor: default;
}

/*Progress bar*/
.progress-parent {
    background: black;
    height: 20px;
    width: 45%;
    position: relative;
}
.progress-child {
    justify-content: flex-end;
    padding-right: 1em;
    background: linear-gradient(to right, darkred, red);
    position: absolute;
    height: 100%;
    border-top-right-radius: 1em 3em;
    border-bottom-right-radius: 1em 3em;
    width: 50%;
    color: white;
}
