h1, h2, h3 {font-family: 'Oswald', sans-serif;}
h1 { font-size: 3em; font-weight: 600; }
h2 { font-size: 2em; font-weight: 600; }
p, li, a { font-family: 'Lato', sans-serif; }
.light { font-weight: 100; }
/*Change general colors to more defined colors*/
.important {font-style: italic; color: red;}

.text-inline { display: inline; }
.white { color: white}
